* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

$bgColorMain: #4F5F73;
$bgColorSecond: #212C3E;
$NameColor: #E4DD1A;
$mainSize: 1000px;
$secondSize: calc(60% - 10px);
$heroSize: calc(40% - 10px);

html {
    font-family: 'Roboto', 'Helvetica Neue', ;
    font-size: 12px;

    @media (max-width: 700px) {
        font-size: 10px;
    }
}

a {
    color: $NameColor;
}


.main-box {
    width: 100%;
    // height: 100vh;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-end;

    background-color: $bgColorMain;

    &__main-container {
        margin-top: 15px;
        margin-bottom: 50px;
    }


    &__user {
        // margin: 15px;
    }
}

.main-container {
    max-width: $mainSize;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: $bgColorSecond;

}

.user {
    width: calc(100% - 40px);

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;

    margin-top: 20px;
    margin-bottom: 20px;

    &__name {
        width: 100%;

        h1 {
            color: $NameColor;
            font-size: 3rem;
            font-weight: 200;
        }
    }

    &__block-data {

        margin-top: 30px;
        // margin-right: 30px;
    }

    &__top-container {}
}

.top-container {
    // background-color: rgba(255, 0, 128, 0.171);
    width: $secondSize;

}

.block-data {
    width: 100%;
    // background-color: rgba(167, 241, 132, 0.171);

    &__title {
        h2 {
            color: #d0d1d1;
            // color: $NameColor;
            font-size: 2rem;
            font-weight: 300;

        }
    }

    &__content {
        margin-top: 5px;
        color: #d0d1d1;
        font-weight: 300;
        font-size: 1.5rem;
        // margin-left: 20px;
    }

    &__container-skills {}
}

.container-skills {
    // background-color: #fff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-end;

    h3 {
        margin-top: 15px;
        font-size: 1.7rem;
        font-weight: 300;
    }

    &__uc {
        margin-right: 10px;
        min-width: 120px;
        max-width: 200px;

        li {
            // margin-bottom: 2px;
            vertical-align: center;
        }
    }

    &__content {
        display: flex;
        align-items: center;
        align-content: flex-end;

        margin-top: 14px;
    }
}

.log-picture {
    height: 25px;
    margin-right: 5px;
}

.hero {
    width: $heroSize;
    margin-left: 20px;
}

.hero-picture {
    margin-top: 30px;
    width: 100%;
}

.training-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;


    &__container {
        width: 30%;
        margin-bottom: 30px;

    }

    &__title {}

    &__image {
        margin-top: 5px;

        img {
            width: 100%;
        }
    }

    &__content {
        font-size: 1.3rem;
    }
}


@media (max-width: 700px) {

    html {


        font-size: 10px;
    }

    .top-container {
        width: 100%;
    }

    .hero {
        display: none;
    }
}